* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

/* LEFT SIDE */
.login-left {
  flex: 1;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-left img {
  width: 60%;
}

/* RIGHT SIDE */
.login-right {
  flex: 1;
  background: #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* LOGIN CARD */
.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.login-card h2 {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #555;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #0d6efd;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #0b5ed7;
}

.forgot {
  margin-top: 15px;
  font-size: 13px;
  color: #555;
  text-align: center;
  cursor: pointer;
}
